@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  /* display: none; Hidden by default */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.gary {
  color: #525252;
}

* {
  border: 1px solid red;
}

img {
  border: 1px solid black;
}
