@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  /* display: none; Hidden by default */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
/*
* {
  border: 1px solid violet;
} */

.gary {
  color: #525252;
}

.slide-container {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}

.single-item-container {
  text-align: center;
  cursor: pointer;
  align-items: center;
  min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;

  align-items: center;
  max-width: 40rem;
  overflow-y: auto;
  margin: auto;
  padding-bottom: 80px;
}

.outfit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  margin: auto;
}

.outfit-container::-webkit-scrollbar {
  display: none;
}

.items-container::-webkit-scrollbar {
  display: none;
}
.slide-container::-webkit-scrollbar {
  display: none;
}
#container {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  overflow-x: scroll;
}

#content {
  width: 250px;
  background-color: #ccc;
}

.cardImg {
  width: 170px;
  height: 170px;
  border: none;
}

.smolFont {
  color: rgb(97, 96, 96);
  float: right;
  font-size: 10px;
  width: 180px;
}

.nameFont {
  color: rgb(97, 96, 96);
  float: right;
  font-size: 12px;
  width: 180px;
  font-weight: bold;
}

/* below is for the expanded modal view and zoom in feature */
figure {
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
}

figure:hover img {
  opacity: 0;
}

img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.relatedHeader {
  color: rgb(97, 96, 96);
  float: right;
  font-size: 14px;
}

.star {
  display: inline;
  align-items: center;
}

.remOutfit {
  display: flex;
  margin-top: -220px;
  color: #d4d0d0;
}
